{% extends 'blog/blog_base.html' %}
{% block title %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <form action="{% url 'tag_create' %}" method="post">
        {% csrf_token %}
        {% for filed in form %}
            {% if filed.errors %}
                <div class="alert alert-danger mt-2">
                    {{ filed.errors }}
                </div>
            {% endif %}
            {{ filed.label }}
            {{ filed }}
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-2">Create Tag</button>
    </form>
{% endblock %}